body {
    background-color:rgb(55, 55, 105);
}

.login-container{
    background-color: white;
    padding: 10px;
    height: 250px;
    width: 400px;
    margin-left:450px;
    margin-top:200px;
    border-radius:3px;
    
}

.login-container input{
    margin: 10px;
    margin-left: 20px;

}

.login-container span{
    margin-left:30px;
}

.login-container input[type='submit'] {
    margin-top: 35px;
    margin-left:300px;
}