.ui.form.white{
    width: 600px;
    height:320px;
    margin-top:5%;
    border-radius:4px;
    background-color:rgb(189, 186, 186);
}
//.ui.segment.size
//{
    //background-color:rgba(236, 240, 241,1.0);
    //border-radius:4px;
    //width:100%;
//}
.ui.left.icon.input{
    height: 50px;
}



//create.blade.php sa admin
.ui.form.black{
    width: 600px;
    height:320px;
    border-radius:4px;
    margin-top:5%;
    background-color:rgba(247, 215, 148,1.0);

   // border-radius:4px;
}
.ui.inverted.secondary.button{
    margin-left:10px;
}





