
.ui.form.white{
    width: 600px;
    height:320px;
    margin-top: 80px;
    background-color:rgb(189, 186, 186);
    border-radius:4px;

  

}


.ui.stacked.segment.white{
    margin-top: 10px;
    background-color:rgba(236, 240, 241,1.0)
}
.ui.left.icon.input{
    height: 50px;
}

//create.blade.php admin
.ui.form.black{
    width: 600px;
    height:320px;
    margin-top: 80px;
    background-color:rgba(255, 234, 167,1.0);
    border-radius:4px;
}
.ui.inverted.secondary.button{
    margin-left:10px;
}
.container{
    box-shadow: 1px 1px 2px 2px rgb(151, 149, 149);
}

