
.ui.form.white{
    width: 600px;
    height:320px;
    margin-top: 80px;
    background-color:rgb(189, 186, 186);
    border-radius:4px;

  

}
.field.white{
    width: 530px;
 
}

.ui.stacked.segment{
    margin-top: 10px;
    background-color:rgba(236, 240, 241,1.0)
}
.ui.left.icon.input{
    height: 50px;
}

//create.blade.php admin
.ui.form.black{
    width: 600px;
    height:320px;
    margin-top: 80px;
    background-color:rgba(236, 240, 241,1.0);
    border-radius:4px;
}
.ui.inverted.secondary.button{
    margin-left:10px;
}

