.ui.fluid.image{
  background-image: url("/images/img3.jpg"); 
background-repeat:no-repeat;
  background-size:cover;
   font-family: 'Arial';
 }
 .ui.grid{
   height:100%;
 }

.ui.massive.text{
  color:#273c75;
  margin-top: 10%;
  font-size:90px;
}
.ui.mini.circular.spaced.image{
  width:80px;
}
.ui.middle.aligned.stackable.grid.container{
  box-shadow:none;
  margin-top:20%;
}

//for login
h1{
  font-size: 50px;
  margin:0px;
  //margin-left: 300px;
  
}
h3{
  color: black;

}
.field input{
  width:200px;
}

.container{
  height:auto;
  margin:0px;
  padding:30px;

}


