

h1{
  font-size: 50px;
  margin:0px;
  //margin-left: 300px;
  
}
h3{
  color: black;

}
.field input{
  width:200px;
}

.ui.buttons{
margin-left:10%;
margin: 0px;
}

.container{
  height:auto;
  margin:0px;
  padding:30px;

}


