//create.blade


.ui.inverted.red.button{
    margin-top: 140%;
    margin-right: 30px;
}
.ui.power.off.icon{
    margin-left: 100px;
}

.container.size{
   width:50%;
   height:20%;
   box-shadow: 1px 1px 3px 3px rgb(151, 149, 149);
   // margin-top: 50px;  
   // border-radius: 4px;
  //  border: 1px solid;
  //  padding: 5px;
  
   
}

.ui.message{
    height:auto;
    margin-top: 50px;
   
}

//Edit.Blade
.container.white{
    background-color:papayawhip;
    opacity: 0.6;
    height: auto;
    margin-top:10%;
    
}
.container.white h2{
color:black;
}
.field{
    margin-top: 10%;
}
.ui.circular.spaced.image{
    width:5%;
}