.ui.container.width{
    width:40%;
    box-shadow: 1px 1px 3px 3px rgb(151, 149, 149);
}
.form-group label{
    font-size:15px;
    color:teal;
}


//.ui.fluid.image{
   // background-image: url("/images/img3.jpg"); 
 
   // background-size:cover;
   //  font-family: 'Arial';
 
    // width:100%;
    // padding:0;
   // height: 100vh;
   //}
