.ui.fluid.image{
    background-image: url("/images/img3.jpg"); 
 
    background-size:cover;
     font-family: 'Arial';
 
    // width:100%;
    // padding:0;
    height: 100vh;
   }

.container{
    height:auto;
 
 
}

.field input {
    width:200px;
   

}
